<form id="drop-folder" onsubmit="event.preventDefault();">
  <p>How would you like to arrange the items in the folder on the canvas?</p>
  <div class="form-group">
    <label>Drop Style</label>
    <div class="form-fields">
      <select name="drop-style">
        {{#select dropStyle}}
        <option value="stack">Stacked Up</option>
        <option value="random">Randomly</option>
        <option value="horizontalLine">Left to Right Line</option>
        <option value="verticalLine">Top to Bottom Line</option>
        {{/select}}
      </select>
    </div>
  </div>
</form>
